.EyesMapDiv {
    margin: 1rem 0 2rem;
    Padding: 1rem;
    box-shadow: 1px 10px 12px rgb(206, 90, 110);
    transition: box-shadow 250ms ease-in-out;
}

.EyesMapDiv:hover {
    box-shadow: 2px 7px 7px rgb(142, 209, 235);
}

img {
    height: 200px;
    position: relative;
    display: inline-block;
    margin: 50px;
}

.hovertopimag {
    width: 200px;
    height: 200px;
    top: 0;
    z-index: 99;
}


